In [1]:
import pandas as pd
import seaborn as sbn
import numpy as np
import matplotlib.pyplot as plt

In [73]:
data = pd.read_csv('../data/adult.csv')

In [57]:
data.head(2)

,age,workclass,fnlwgt,education,education.num,marital.status,occupation,relationship,race,sex,capital.gain,capital.loss,hours.per.week,native.country,income
0,90,?,77053,HS-grad,9,Widowed,?,Not-in-family,White,Female,0,4356,40,United-States,<=50K
1,82,Private,132870,HS-grad,9,Widowed,Exec-managerial,Not-in-family,White,Female,0,4356,18,United-States,<=50K

In [77]:

for col in data:
#     if col in ['workclass', 'education', 'marital.status', 'occupation', 'relationship', 'race', 'native.country']:
    print(col.upper())
    print(data[col].unique())
    print()

AGE
[90 82 66 54 41 34 38 74 68 45 52 32 51 46 57 22 37 29 61 21 33 49 23 59
 60 63 53 44 43 71 48 73 67 40 50 42 39 55 47 31 58 62 36 72 78 83 26 70
 27 35 81 65 25 28 56 69 20 30 24 64 75 19 77 80 18 17 76 79 88 84 85 86
 87]

WORKCLASS
['NA' 'Private' 'State-gov' 'Federal-gov' 'Self-emp-not-inc'
 'Self-emp-inc' 'Local-gov' 'Without-pay' 'Never-worked']

FNLWGT
[ 77053 132870 186061 ...  34066  84661 257302]

EDUCATION.NUM
[ 9 10  4  6 16 15 13 14  7 12 11  2  3  8  5  1]

MARITAL.STATUS
['Widowed' 'Divorced' 'Separated' 'Never-married' 'Married']

OCCUPATION
['NA' 'Exec-managerial' 'Machine-op-inspct' 'Prof-specialty'
 'Other-service' 'Adm-clerical' 'Craft-repair' 'Transport-moving'
 'Handlers-cleaners' 'Sales' 'Farming-fishing' 'Tech-support'
 'Protective-serv' 'Armed-Forces' 'Priv-house-serv']

RELATIONSHIP
['Not-in-family' 'Unmarried' 'Own-child' 'Other-relative' 'Married']

RACE
['White' 'Black' 'Asian-Pac-Islander' 'Other' 'Amer-Indian-Eskimo']

SEX
['Female' 'Male']

CAPITAL.LOSS
[4356 3900 3770 3683 3004 2824 2754 2603 2559 2547 2489 2472 2467 2457
 2444 2415 2392 2377 2352 2339 2282 2267 2258 2246 2238 2231 2206 2205
 2201 2179 2174 2163 2149 2129 2080 2057 2051 2042 2002 2001 1980 1977
 1974 1944 1902 1887 1876 1848 1844 1825 1816 1762 1755 1741 1740 1735
 1726 1721 1719 1672 1669 1668 1651 1648 1628 1617 1602 1594 1590 1579
 1573 1564 1539 1504 1485 1411 1408 1380 1340 1258 1138 1092  974  880
  810  653  625  419  323  213  155    0]

HOURS.PER.WEEK
[40 18 45 20 60 35 55 76 50 42 25 32 90 48 15 70 52 72 39  6 65 12 80 67
 99 30 75 26 36 10 84 38 62 44  8 28 59  5 24 57 34 37 46 56 41 98 43 63
  1 47 68 54  2 16  9  3  4 33 23 22 64 51 19 58 53 96 66 21  7 13 27 11
 14 77 31 78 49 17 85 87 88 73 89 97 94 29 82 86 91 81 92 61 74 95]

NATIVE.COUNTRY
['United-States' 'NA' 'Mexico' 'Greece' 'Vietnam' 'China' 'Taiwan' 'India'
 'Philippines' 'Trinadad&Tobago' 'Canada' 'South' 'Holand-Netherlands'
 'Puerto-Rico' 'Poland' 'Iran' 'England' 'Germany' 'Italy' 'Japan' 'Hong'
 'Honduras' 'Cuba' 'Ireland' 'Cambodia' 'Peru' 'Nicaragua'
 'Dominican-Republic' 'Haiti' 'El-Salvador' 'Hungary' 'Columbia'
 'Guatemala' 'Jamaica' 'Ecuador' 'France' 'Yugoslavia' 'Scotland'
 'Portugal' 'Laos' 'Thailand' 'Outlying-US(Guam-USVI-etc)']

INCOME
[0 1]

In [79]:
# Data sanitisation
data = data.replace('?', 'NA')

data = data.replace(['Married-civ-spouse', 'Married-spouse-absent', 'Married-AF-spouse'], 'Married')
data = data.replace(['Wife', 'Husband'], 'Married')

data = data.replace('<=50K', 0)
data = data.replace('>50K', 1)
labels = data['income']
data = data.drop(columns='income')

# data = data.drop(columns = ['capital.gain', 'education']) #exista coloana education.num redundanta

# pd.cut(data['hours.per.week'], bins = 5, labels=np.arange(5), right=False)

In [80]:
# CLUSTERING
# from sklearn.model_selection import train_test_split
# train_data, test_data, train_labels, test_labels = train_test_split(data, labels, stratify=labels, shuffle=True, test_size=0.33)

# from sklearn.mixture import GaussianMixture
# em = GaussianMixture(n_components=3) # 3 clusters
# em.fit(train_data)
# clusters = em.predict(test_data)

ValueError: could not convert string to float: 'Private'