In [2]:
import pandas as pd
import seaborn as sbn
import numpy as np
import matplotlib.pyplot as plt

In [3]:
data = pd.read_csv('../data/adult.csv')
data.head(3)

,age,workclass,fnlwgt,education,education.num,marital.status,occupation,relationship,race,sex,capital.gain,capital.loss,hours.per.week,native.country,income
0,90,?,77053,HS-grad,9,Widowed,?,Not-in-family,White,Female,0,4356,40,United-States,<=50K
1,82,Private,132870,HS-grad,9,Widowed,Exec-managerial,Not-in-family,White,Female,0,4356,18,United-States,<=50K
2,66,?,186061,Some-college,10,Widowed,?,Unmarried,Black,Female,0,4356,40,United-States,<=50K

In [4]:
# Data load
data = pd.read_csv('../data/adult.csv')

# Data sanitisation
data = data.replace('?', 'NA')

data = data.replace(['Married-civ-spouse', 'Married-spouse-absent', 'Married-AF-spouse'], 'Married')
data = data.replace(['Wife', 'Husband'], 'Married')

data = data.replace('<=50K', 0)
data = data.replace('>50K', 1)
labels = data['income']
data = data.drop(columns='income')

data = data.drop(columns = ['capital.gain', 'education']) #exista coloana education.num redundanta

In [5]:
# ONE HOT ENCODINGS FOR NOMINAL VALUES - WIP

from sklearn.preprocessing import LabelEncoder
from sklearn.preprocessing import OneHotEncoder

for col in ['marital.status', 'workclass', 'relationship', 'occupation', 'race']:
    one_hot = pd.get_dummies(data[col])
    data = data.drop(col,axis = 1)
    data = data.join(one_hot, rsuffix=col)
data

,age,fnlwgt,education.num,sex,capital.loss,hours.per.week,native.country,Divorced,Married,Never-married,...,Prof-specialty,Protective-serv,Sales,Tech-support,Transport-moving,Amer-Indian-Eskimo,Asian-Pac-Islander,Black,Other,White
0,90,77053,9,Female,4356,40,United-States,0,0,0,...,0,0,0,0,0,0,0,0,0,1
1,82,132870,9,Female,4356,18,United-States,0,0,0,...,0,0,0,0,0,0,0,0,0,1
2,66,186061,10,Female,4356,40,United-States,0,0,0,...,0,0,0,0,0,0,0,1,0,0
3,54,140359,4,Female,3900,40,United-States,1,0,0,...,0,0,0,0,0,0,0,0,0,1
4,41,264663,10,Female,3900,40,United-States,0,0,0,...,1,0,0,0,0,0,0,0,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
32556,22,310152,10,Male,0,40,United-States,0,0,1,...,0,1,0,0,0,0,0,0,0,1
32557,27,257302,12,Female,0,38,United-States,0,1,0,...,0,0,0,1,0,0,0,0,0,1
32558,40,154374,9,Male,0,40,United-States,0,1,0,...,0,0,0,0,0,0,0,0,0,1
32559,58,151910,9,Female,0,40,United-States,0,0,0,...,0,0,0,0,0,0,0,0,0,1
32560,22,201490,9,Male,0,20,United-States,0,0,1,...,0,0,0,0,0,0,0,0,0,1

In [6]:
for col in data:
    print(col.upper())
#     print(data[col].unique())
#     print()

AGE
FNLWGT
EDUCATION.NUM
SEX
CAPITAL.LOSS
HOURS.PER.WEEK
NATIVE.COUNTRY
DIVORCED
MARRIED
NEVER-MARRIED
SEPARATED
WIDOWED
FEDERAL-GOV
LOCAL-GOV
NA
NEVER-WORKED
PRIVATE
SELF-EMP-INC
SELF-EMP-NOT-INC
STATE-GOV
WITHOUT-PAY
MARRIEDRELATIONSHIP
NOT-IN-FAMILY
OTHER-RELATIVE
OWN-CHILD
UNMARRIED
ADM-CLERICAL
ARMED-FORCES
CRAFT-REPAIR
EXEC-MANAGERIAL
FARMING-FISHING
HANDLERS-CLEANERS
MACHINE-OP-INSPCT
NAOCCUPATION
OTHER-SERVICE
PRIV-HOUSE-SERV
PROF-SPECIALTY
PROTECTIVE-SERV
SALES
TECH-SUPPORT
TRANSPORT-MOVING
AMER-INDIAN-ESKIMO
ASIAN-PAC-ISLANDER
BLACK
OTHER
WHITE

In [7]:
# CLUSTERING
# from sklearn.model_selection import train_test_split
# train_data, test_data, train_labels, test_labels = train_test_split(data, labels, stratify=labels, shuffle=True, test_size=0.33)

# from sklearn.mixture import GaussianMixture
# em = GaussianMixture(n_components=3) # 3 clusters
# em.fit(train_data)
# clusters = em.predict(test_data)